html {
  font-size: 20px;
}

body {
  text-align: center
}

figure {
  opacity: 0;
}

figure.appear {
  opacity: 1.0;
  transition: opacity 300ms;
}

button {
  width: 200px;
  padding: 10px;
  border-radius: 10px;
}
